.background {
  height: 600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/people.jpg");

  &__hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }

  &__firsttitle {
    width: 696px;
    height: 120px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    /* or 136% */

    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
    text-align: center;
  }

  &__buttontitle {
    border: 5px solid var(--brand-color);
    background: var(--brand-color);
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.9;
    font-weight: 700;
    color: var(--white-color);
  }
}
