.benefits {
  display: flex;
  padding-top: 95px;
  justify-content: space-between;

  &__title {
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    color: var(--black-color);
    margin: 24px;
  }

  &__text {
    display: block;
    line-height: 1.7;
    /* or 171% */
    color: var(--grey-color);
    margin: 24px;
  }
}
